
<div class="Search">
<h1>{{PrdSvcVar.TtlVar}}</h1>
<div>
<input type="text" placeholder="Search Anything" [(ngModel)] ="SearchVar">
<button (click) ="SearchPrdFnc()">Search</button>
</div>
</div>

<button (click)="this.PopMdlVap.open(PopDivNgsUid)">Add Product</button>
<div class="SprPrdDivCls">
    <div *ngFor="let PrdItmVar of PrdSvcVar.PrdAryVar; let IdxVar = index ">
        <a [routerLink]="getPathFromTtlFnc(PrdItmVar.TtlVak)" routerLinkActive="active">
            <img src="assets/imgFdr/djicam.jpg" alt="" width="200px" height="200px">
            <h3>{{PrdItmVar.TtlVak}}</h3>
            <p>{{PrdItmVar.DtlVak}}</p>
            <p>{{PrdItmVar.CstVak}}</p>
        </a>
        <button (click)="DltProdFnc(PrdItmVar.UidVak)">Delete</button>/
        <button  (click)="UpdtPrdFnc(PopDivNgsUid, IdxVar)">Update</button>
    </div>
</div>


<ng-template #PopDivNgsUid let-modal>
    <prod-add-kom [PopNgModal]="modal" [EdtIdxVak]="EdtIdxVar"></prod-add-kom>
</ng-template>